*.txt
*.csv
sample_dir/movies
sample_dir/movies_2
filesio/*.txt
venv/
.idea/
python-mysql.jpeg
code-snippets/sample_dir/movies_data_corrected_new
!code-snippets/txt-csv/employees.csv

!scrap_file.csv
article1.html
article2.html
