body
{
    background: grey;
}
div.box-1
{
    background: blue;
    border: solid red 5px;
    text-align: center;
    width: 500px;
}

p
{
    color: purple;
}

span
{
    color: orange;
    font-size: 30px;
}
