body
{
    background-color: grey;
}
p
{
   color: red;
   color: #3632a8;
}
h1
{
    color: blue;
    color: #03fce8;
}
ol{

    background: white;
}
li{
    color:rgb(0,200,0)
}
h4
{
    color: magenta;
    font-size: 30px;
    padding: 30px;
    border: 1px solid red;
    background: rgba(53, 167, 66, 0.7);
}